<p>パスワードリセットの依頼を受け付けました。以下のリンクより変更をお願いします。</p>

<p><%= link_to 'パスワードリセット', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、心当たりがない場合は、本メールをご放念ください。</p>
<p>パスワードはリンクからリセットを実施しない限り、変更されません。</p>