name: frontend CI

on:
  pull_request:
    branches: [ main, development ]
  push:
    branches: [ development ]

permissions:
  contents: write
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend   

    strategy:
      matrix:
        node-version: [22.15]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - run: npm ci
    - run: npm run build --if-present
    - run: npm run lint
    - run: npm run format:check
    - run: npm test
