name: CI

on:
  pull_request:
  push:

permissions:
  contents: write
  pull-requests: write

jobs:

  rubocop:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend        
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with: 
          fetch-depth: 0

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        env: 
          BUNDLE_GEMFILE: backend/Gemfile
        with:
          ruby-version: '3.1'
          bundler-cache: true

      - name: run rubocop and auto-correct
        run: bundle exec rubocop -A --force-exclusion
      
      - name: (rubocop)commit changes to PR
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit-message: '[rubocop] automated changes'
          branch: ${{ github.head_ref || github.ref_name }}

