name: CI

on:
  pull_request:
  push:

jobs:

  rubocop:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true

      - name: run rubocop
        run: bundle exec rubocop -f github

      - name: auto-correct
        run: bundle exec rubocop -A --force-exclusion || true
      
      # - name: (rubocop)commit changes to PR
      #   run:
